

    <header>
        <div class="container">
            <p class="logo">Mi Pagina</p>
            <nav>
                <a href=#sobre>Sobre mi</a>
                 <a href=#mis-programas>Mi educación</a>
                 <a href=#sobre2>Mis gustos</a>
                 <a href=#caracteristicas>Mis caracteristicas</a>
            </nav>
        
        </div>
    </header>
    <section id="hero">
        <h1>Pagina <br> @Emanuel Alcaraz Restrepo</h1>
        <button>¿Quien soy ?</button>
    </section>

    <div id="sobre">
    <div class="container">
        <div class="img-container" ></div>
        <div class="texto">  <h2>Sobre <span class="color-acento">mi!</span></h2>
            <p>Me llamo Emanuel Alcaraz Restrepo y soy un joven de 16 años   que le gustan los deportes los videojuegos y la tecnologia en general, actualmente estoy en un curso de programacion llamado nodo y es organizado por la universidad eafit. Nunca habia programado y este curso es mi primer contacto con este mundo, y la verdad me gusto mucho el tema de la programacion.</p>
           </div>
      
    </div>
</div>


 <section id="mis-programas">
    <div class="container">
    <h2>MI EDUCACION</h2>
   <div class="programas"> 
    <div class="carta">
        <h3>Basica  Primaria</h3>
        <p> Titulo de basica primaria en la escuela Mariano Lopera, inicie en el año 2012.</p>
        
    </div>

    <div class="carta">
        <h3>Bachillerato</h3>
<p> Titulo de bachiller academico en la institucion Educativa San Luis Gonzaga, inicie en el año 2017 y finalize en el año 2022.</p>
        
    </div>

    <div class="carta">
        <h3>Cursando</h3>
        <p>Actualmente me encuentro cursando el curso de front end del programa nodo dictado por la universidad eafit </p>
        
    </div>
</div>
</div>
<div id="sobre2">
    <div class="container">
        <div class="img-container2" ></div>
        <div class="texto">  <h2> <span class="color-acento">Mis Gustos</span></h2>
            <p>Me gusta mucho los deportes tanto como verlos y practicarlos, el futbol o el mantenerme ejercitado pesas, flexiones y ejercicos de fuerza en general.Soy una persona bastante saludable que me gusta cuidar lo que como cuido bastante mi alimentacion;tengo una meta diaria de ingesta de agua y evito al 100% las sodas y bebidas azucaradas.Soy una persona bastante tranquila y callada me gusta meditar antes de dormir porque me relaja demasiado y me ayuda consiliar le sueño mucho mejor.</p>
           </div>
      
    </div>
</div>

 </section>  
 <section id="caracteristicas">

<div class="container">
    <ul>
        <li>✔️ Responsable</li>
        <li>✔️ Respetuoso</li>
        <li>✔️ Puntual</li>
        <li>✔️ Amable</li>
    </ul>
</div>
 </section>
<section id="final">
    <h2>Gracias por ver !</h2>
    <button>5.0</button>
</section>
<br>
<br>
<br> 
<footer>
    <div class="redes"> Emanuel32213@gmail.com <br>
        Emanuel Alcaraz Restrepo<br>
        3192393290   
    </div>
    <div class="container">
        <p>&copy;EmanuelAlc2023</p>
    </div>
</footer>
 

